.social-networks,
.partners {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

/* Slick slider styles */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?g1yglt");
	src: url("../fonts/icomoon.eot?g1yglt#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?g1yglt") format("truetype"), url("../fonts/icomoon.woff?g1yglt") format("woff"), url("../fonts/icomoon.svg?g1yglt#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag:before {
	content: "\e911";
	color: #e24545;
}

.icon-envelope-o:before {
	content: "\e910";
}

.icon-rss:before {
	content: "\e900";
}

.icon-youtube-play:before {
	content: "\e901";
}

.icon-pinterest-p:before {
	content: "\e902";
}

.icon-google-plus:before {
	content: "\e903";
}

.icon-linkedin:before {
	content: "\e904";
}

.icon-twitter:before {
	content: "\e905";
}

.icon-facebook:before {
	content: "\e906";
}

.icon-angle-right:before {
	content: "\e907";
}

.icon-angle-down:before {
	content: "\e908";
}

.icon-headphones:before {
	content: "\e909";
}

.icon-commenting:before {
	content: "\e90a";
}

.icon-truck:before {
	content: "\e90b";
}

.icon-thumbs-up:before {
	content: "\e90c";
}

.icon-shopping-cart:before {
	content: "\e90d";
}

.icon-trash:before {
	content: "\e90e";
}

.icon-search:before {
	content: "\e90f";
}

/* burger menu style */

.navbar-toggler {
	width: 1.625rem;
	height: 1.625rem;
	display: block;
	position: relative;
	z-index: 10;
}

.navbar-toggler:hover {
	opacity: .9;
}

.navbar-toggler:not(.collapsed) span {
	opacity: 0;
}

.navbar-toggler:not(.collapsed):before,
.navbar-toggler:not(.collapsed):after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: 0;
	right: 0;
}

.navbar-toggler:not(.collapsed):after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.navbar-toggler span,
.navbar-toggler:before,
.navbar-toggler:after {
	background: #e24545;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 3px;
	margin-top: -1px; /* height/2 */
	-webkit-transition: -webkit-transform .3s linear;
	transition: -webkit-transform .3s linear;
	transition: transform .3s linear;
	transition: transform .3s linear, -webkit-transform .3s linear;
}

.navbar-toggler:before,
.navbar-toggler:after {
	content: "";
	top: 3px;
}

.navbar-toggler:after {
	top: calc(100% - 3px);
}

.navbar-brand {
	color: #444;
	font-size: .75rem;
	text-transform: uppercase;
	padding-bottom: 0;
	line-height: 1;
	letter-spacing: .625rem;
}

.navbar-brand .colorful {
	color: #e24545;
	display: inline-block;
	position: relative;
}

.navbar-brand .colorful:before {
	content: "";
	position: absolute;
	bottom: -.125rem;
	left: 0;
	width: .5625rem;
	height: .125rem;
	background-color: #e24545;
}

.navbar-brand span {
	color: #222;
	font-size: 1.625rem;
	text-transform: none;
	display: block;
	font-weight: 700;
	margin-bottom: .1875rem;
	letter-spacing: 0;
}

.navbar-nav {
	text-transform: uppercase;
	font-size: .8125rem;
	font-weight: 700;
}

.dropdown-menu {
	font-size: .875rem;
}

.navbar-expand-lg .navbar-nav .nav-link.dropdown-toggle {
	padding-right: .9375rem;
}

.navbar-nav {
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	padding-top: 25px;
}

.dropdown-toggle::after {
	content: "\e908";
	border: none;
	font-family: "icomoon";
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	width: auto;
	height: auto;
}

.nav-link {
	color: #444;
	position: relative;
	display: inline-block;
}

.nav-link:before {
	display: none;
	opacity: 0;
	content: "";
	position: absolute;
	bottom: -.3125rem;
	left: 0;
	width: .625rem;
	height: .125rem;
	background-color: #e24545;
}

.active .nav-link {
	color: #e24545;
}

.active .nav-link:before {
	opacity: 1;
}

.nav-link:hover {
	color: #e24545;
}

.cart {
	width: 8.75rem;
	height: 2.75rem;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .625rem 1rem;
	-webkit-transition: border-color .4s, color .4s;
	transition: border-color .4s, color .4s;
	margin-left: auto;
	margin-right: 25px;
}

.cart:hover {
	text-decoration: none;
	border-color: #e24545;
	color: #e24545;
	background-color: transparent;
}

.cart:hover .count {
	background-color: #e24545;
}

.cart:hover .icon {
	color: #444;
}

.cart .icon {
	font-size: 1.3125rem;
	padding-right: .4375rem;
	-webkit-transition: color .4s;
	transition: color .4s;
}

.cart .price {
	font-size: .9375rem;
	padding-top: .125rem;
	font-weight: 700;
}

.cart .count {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 5px solid #fff;
	right: -1.125rem;
	width: 2rem;
	height: 2rem;
	background-color: #222;
	font-size: .6875rem;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	padding-left: 1px;
	-webkit-transition: background-color .4s;
	transition: background-color .4s;
}

.search-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.search-block .opener {
	display: none;
	font-size: .875rem;
	line-height: 1;
	width: 1.875rem;
	height: 1.625rem;
	text-decoration: none;
	color: #444;
	position: relative;
	z-index: 3;
	-webkit-transition: opacity .3s, color .3s;
	transition: opacity .3s, color .3s;
}

.search-block .opener:hover {
	color: #e24545;
}

.search-block .close {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1rem;
	height: 1rem;
	-webkit-transform: translate(-50%, -50%) rotatez(0) scale(0);
	-ms-transform: translate(-50%, -50%) rotate(0) scale(0);
	transform: translate(-50%, -50%) rotatez(0) scale(0);
	-webkit-transition: left .3s, -webkit-transform .3s ease;
	transition: left .3s, -webkit-transform .3s ease;
	transition: transform .3s ease, left .3s;
	transition: transform .3s ease, left .3s, -webkit-transform .3s ease;
}

.search-block .close:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	width: 1rem;
	height: .1875rem;
	background-color: #444;
}

.search-block .close:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: .1875rem;
	height: 1rem;
	display: block;
	background-color: #444;
}

.search-block .search-form {
	display: block;
	padding-right: 1.25rem;
	position: relative;
	padding-right: 1.875rem;
	margin-bottom: 0;
	width: 100%;
	z-index: 2;
	-webkit-transition: width .3s ease .15s, padding .15s ease .15s;
	transition: width .3s ease .15s, padding .15s ease .15s;
}

.search-block .search-form input[type="search"] {
	opacity: 1;
	width: 100%;
	height: auto;
	-webkit-transition: padding .15s ease .15s;
	transition: padding .15s ease .15s;
	border: none;
	border-bottom: 2px solid #444;
	border-radius: 0;
}

.search-block .search-form input[type="search"]::-webkit-input-placeholder {
	color: rgba(99, 94, 89, .35);
}

.search-block .search-form input[type="search"]::-moz-placeholder {
	opacity: 1;
	color: rgba(99, 94, 89, .35);
}

.search-block .search-form input[type="search"]:-moz-placeholder {
	color: rgba(99, 94, 89, .35);
}

.search-block .search-form input[type="search"]:-ms-input-placeholder {
	color: rgba(99, 94, 89, .35);
}

.search-block .search-form input[type="search"].placeholder {
	color: rgba(99, 94, 89, .35);
}

.search-block .search-form button[type="submit"] {
	box-shadow: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	border: none;
	background-color: transparent;
	font-size: .875rem;
	line-height: 1;
	width: 1.875rem;
	height: 1.625rem;
	padding: 0;
	color: #444;
	-webkit-transition: opacity step-end .45s;
	transition: opacity step-end .45s;
}

.search-open .search-block .search-form button[type="submit"] {
	opacity: 1;
	position: absolute;
	-webkit-transition: opacity step-end .3s;
	transition: opacity step-end .3s;
}

.search-open .search-block .search-form input[type="search"] {
	padding-left: .625rem;
	padding-right: .625rem;
	-webkit-transition: padding .3s;
	transition: padding .3s;
}

.search-open .search-block .opener .icon {
	opacity: 0;
}

.search-open .search-block .opener .close {
	-webkit-transform: translate(-50%, -50%) rotatez(-405deg) scale(1);
	-ms-transform: translate(-50%, -50%) rotate(-405deg) scale(1);
	transform: translate(-50%, -50%) rotatez(-405deg) scale(1);
	-webkit-transition: -webkit-transform ease .3s;
	transition: -webkit-transform ease .3s;
	transition: transform ease .3s;
	transition: transform ease .3s, -webkit-transform ease .3s;
}

.resize-active * {
	-webkit-transition: none !important;
	transition: none !important;
}

h1,
h6 {
	text-transform: uppercase;
}

a {
	-webkit-transition: color .4s;
	transition: color .4s;
}

input {
	border: 1px solid #ccc;
	-webkit-transition: border-color .4s;
	transition: border-color .4s;
	padding: .9375rem 1.25rem;
	font-size: .6875rem;
	color: #888;
	text-transform: uppercase;
	margin-bottom: .9375rem;
}

input::-webkit-input-placeholder {
	color: #888;
}

input::-moz-placeholder {
	opacity: 1;
	color: #888;
}

input:-moz-placeholder {
	color: #888;
}

input:-ms-input-placeholder {
	color: #888;
}

input.placeholder {
	color: #888;
}

input:focus {
	border-color: #888;
	outline: none;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: none;
}

button[disabled] {
	cursor: auto;
}

.btn {
	text-transform: uppercase;
	font-size: .75rem;
}

.btn-outline-light {
	color: #444;
}

.btn-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.container-fluid {
	max-width: 73.125rem;
}

.breadcrumb {
	text-transform: uppercase;
	font-size: .75rem;
}

.breadcrumb a:hover {
	text-decoration: none;
	color: #e24545;
}

.breadcrumb-item + .breadcrumb-item::before {
	font-family: "icomoon";
	padding-right: .5rem;
}

.banner {
	padding: 1.6875rem 0 1.5rem;
}

.banner h1 {
	margin-bottom: 0;
	text-align: left;
	letter-spacing: -1px;
}

.banner .breadcrumb {
	margin-bottom: 0;
}

.sort-block {
	padding: 3.125rem 0 2.5rem;
}

.sort-block input {
	padding-top: .625rem;
	padding-bottom: .625rem;
	width: 100%;
}

.wish-section {
	padding-bottom: 2.5rem;
}

.wish-list {
	text-align: center;
}

.wish-list .item-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 1.5625rem;
}

.wish-list h6 {
	color: #222;
	margin-bottom: .3125rem;
}

.wish-list h6,
.wish-list .price-group {
	padding: 0 1.875rem;
}

.wish-list .item {
	border: .0625rem solid #eee;
	width: 100%;
	display: block;
	-webkit-transition: background-color .4s;
	transition: background-color .4s;
}

.wish-list .item:hover {
	text-decoration: none;
	background-color: #f6f6f6;
}

.wish-list .item:hover .img-holder:before {
	background-color: rgba(0, 0, 0, .8);
}

.wish-list .item:hover .img-holder:after {
	opacity: 0;
}

.wish-list .item:hover .img-holder .btn {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 1;
}

.wish-list .item:hover .btn-outline-light {
	color: #fff;
	background-color: #e24545;
}

.wish-list .item:hover .btn-outline-light:hover {
	background-color: inherit;
	color: #444;
}

.wish-list .price {
	color: #e24545;
	padding: 0 .25rem;
}

.wish-list .old-price {
	color: #888;
	font-weight: 400;
	text-decoration: line-through;
	padding: 0 .25rem;
	font-size: .875rem;
}

.wish-list .price-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: 700;
	padding-bottom: 1.3125rem;
}

.wish-list .img-holder {
	padding-top: 1.8125rem;
	text-align: center;
	min-height: 15.625rem;
	position: relative;
	margin-bottom: 1.125rem;
}

.wish-list .img-holder:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
}

.wish-list .img-holder:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: .125rem;
	width: .625rem;
	background-color: #e24545;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.wish-list .img-holder .btn {
	position: absolute;
	left: -99999px;
	top: -99999px;
	font-size: 12px;
	padding: .75rem 1.3125rem;
	opacity: 0;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
}

.wish-list .btn-group .btn {
	border-bottom: none;
	border-width: 1px;
	padding: .3125rem;
	width: 2.4375rem;
	height: 2.4375rem;
	font-size: 1rem;
}

.wish-list .btn-group .btn:last-child {
	margin-left: -1px;
}

.features-section {
	border-top: .0625rem solid #eee;
	border-bottom: .1875rem solid #ddd;
	padding: 2.5rem 0;
}

.features-slider {
	border: .125rem solid #444;
	border-top: none;
	padding: 1.25rem 1.875rem 2rem;
}

.features-slider:before,
.features-slider:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: .125rem;
	width: 1.25rem;
	background-color: #444;
}

.features-slider:after {
	left: auto;
	right: 0;
}

.features-slider .item {
	padding: 0 .9375rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #444;
}

.features-slider .icon {
	padding-right: 1.25rem;
	font-size: 2rem;
}

.features-slider .content {
	font-size: .75rem;
	position: relative;
	padding-top: .375rem;
}

.features-slider .content:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: .625rem;
	height: .125rem;
	background-color: #ccc;
}

.features-slider h5 {
	text-transform: uppercase;
	margin-bottom: 7px;
}

.features-slider h5 a {
	color: #222;
}

.form-validation .input-error {
	border-color: #e24545;
}

.social-networks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: .875rem;
}

.social-networks a {
	width: 3.25rem;
	height: 3rem;
	border: .0625rem solid #ccc;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #999;
	-webkit-transition: background-color .4s;
	transition: background-color .4s;
}

.social-networks a:hover {
	text-decoration: none;
	background-color: #e24545;
	color: #fff;
}

.social-networks li {
	margin-bottom: .9375rem;
}

.social-networks li:first-child a {
	border-left-width: .0625rem;
}

.social-networks li + li {
	margin-left: -1px;
}

.breadcrumb a {
	color: #444;
}

.isotope-pager {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: .75rem;
}

.pager {
	color: #888;
	border: .125rem solid #ddd;
	width: 1.875rem;
	height: 1.875rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: .1875rem;
	margin: 0 .25rem;
}

.pager:hover,
.pager.active {
	border-color: #444;
	text-decoration: none;
	color: #e24545;
}

.subscribe-section {
	background-color: #f6f6f6;
	padding: 2.5rem 0;
}

.subscribe-section h6 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: .9375rem;
	text-align: center;
}

.subscribe-form {
	position: relative;
}

.subscribe-form input {
	width: 100%;
	padding-right: 4.5625rem;
}

.subscribe-form button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: .9375rem;
	background-color: transparent;
	border: none;
	width: 3.3125rem;
	padding-top: .3125rem;
	color: #999;
}

.subscribe-form button:hover {
	color: #e24545;
}

.footer {
	background-color: #e6e6e6;
	padding: 1.875rem 0 2.0625rem;
}

.copyright {
	font-size: .6875rem;
	text-transform: uppercase;
	color: #888;
	padding-top: .25rem;
	text-align: center;
	width: 100%;
}

.copyright a {
	text-decoration: none;
	color: #444;
}

.copyright a:hover {
	color: #e24545;
}

.partners {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.partners li {
	padding: 0 .3125rem;
	margin-bottom: .9375rem;
}

.partners a {
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
}

.partners a:hover {
	opacity: .7;
}

@media (min-width: 768px) {
	.search-block .search-form input[type="search"] {
		padding-left: 0;
		padding-right: 0;
	}

	.sort-block input {
		margin-bottom: 0;
	}

	.subscribe-section h6 {
		text-align: left;
	}

	.copyright {
		text-align: left;
	}

	.partners {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}

@media (min-width: 1024px) {
	.navbar-toggler {
		display: none;
	}

	.navbar {
		padding-top: 3.125rem;
		padding-bottom: 3.625rem;
	}

	.navbar-collapse {
		padding: .125rem 2.6875rem 0;
	}

	.navbar-nav {
		padding-top: 0;
	}

	.search-open .navbar-nav {
		-webkit-transform: translateY(-999px);
		-ms-transform: translateY(-999px);
		transform: translateY(-999px);
	}

	.nav-item {
		padding: 0 .625rem;
	}

	.nav-link {
		padding: 0;
	}

	.nav-link:before {
		display: block;
	}

	.cart {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		margin-right: .8125rem;
	}

	.search-block {
		float: right;
		margin-top: -5px;
	}

	.search-block .opener {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.search-block .search-form {
		position: absolute;
		top: 50%;
		right: .25rem;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		margin-top: 0;
		right: 11px;
		width: 0;
		overflow: hidden;
		padding-right: 0;
	}

	.search-block .search-form button[type="submit"] {
		opacity: 0;
		left: 0;
		right: auto;
	}

	.search-open .search-block .search-form {
		padding: 0 1.625rem 0 2rem;
		-webkit-transition: width .3s, padding .3s;
		transition: width .3s, padding .3s;
		width: 500px;
	}

	.banner .holder {
		white-space: nowrap;
		text-align: center;
	}

	.banner .holder:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		min-height: 100px;
	}

	.banner .holder > * {
		white-space: normal;
		display: inline-block;
		vertical-align: middle;
		max-width: 99%;
	}

	.wish-section {
		padding-bottom: 6.875rem;
	}

	.wish-list .item-holder {
		margin-bottom: 3.125rem;
	}

	.features-section {
		padding: 5.875rem 0 6.25rem;
	}

	.social-networks {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.isotope-pager {
		padding-top: 1.875rem;
	}

	.subscribe-section {
		padding: 4.375rem 0 3.75rem;
	}

	.subscribe-form {
		padding-left: 18px;
	}
}

@media (max-width: 1023px) {
	.dropdown-menu {
		border-width: 0;
	}
}
