/* burger menu style */
.navbar-toggler {
    width: rem-calc(26);
    height: rem-calc(26);
    display: block;
    position: relative;
    z-index: 10;
    @include media('>=desktop') {
        display: none;
    }
 
    &:hover {
        opacity:.9; 
    }
 
    &:not(.collapsed) {
        span {
            opacity: 0;
        }
        &:before,
        &:after {
            transform: rotate(45deg);
            top: 50%;
            left: 0;
            right: 0;
        }
        &:after {
            transform:rotate(-45deg);
        }
    }
 
    span,
    &:before,
    &:after {
        background: $red;
        position:absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 3px;
        margin-top: -1px; /* height/2 */
        transition: transform .3s linear;
    }
    &:before,
    &:after {
        content:'';
        top: 3px;
    }
    &:after {
        top: calc(100% - 3px);
    }
}
.navbar {
    @include media('>=desktop') {
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(58);
    }
}
.navbar-brand {
    color: $gray-500;
    font-size: rem-calc(12);
    text-transform: uppercase;
    padding-bottom: 0;
    line-height: 1;
    letter-spacing: rem-calc(10);
    .colorful {
        color: $red;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: - rem-calc(2);
            left: 0;
            width: rem-calc(9);
            height: rem-calc(2);
            background-color: $red;
        }
    }
    span {
        color: $black;
        font-size: rem-calc(26);
        text-transform: none;
        display: block;
        font-weight: 700;
        margin-bottom: rem-calc(3);
        letter-spacing: 0;
    }
}
.navbar-nav {
    text-transform: uppercase;
    font-size: rem-calc(13);
    font-weight: 700;
}
.navbar-collapse {
    @include media('>=desktop') {
        padding: rem-calc(2) rem-calc(43) 0;
    }
}
.dropdown-menu {
    font-size: rem-calc(14);
    @include media('<desktop') {
        border-width: 0;
    }
}
.navbar-expand-lg .navbar-nav .nav-link {
    &.dropdown-toggle{
        padding-right: rem-calc(15);
    }
}
.navbar-nav {
    transition: transform .5s;
    padding-top: 25px;
    @include media('>=desktop') {
        padding-top: 0;
    }
    .search-open & {
        @include media('>=desktop') {
            transform: translateY(-999px);
        }
    }
}
.dropdown-toggle{
    &::after {
        content: '\e908';
        border: none;
        font-family: 'icomoon';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: auto;
        height: auto;
    }
}
.nav-item {
    @include media('>=desktop') {
        padding: 0 rem-calc(10);
    }
}
.nav-link {
    color: $gray-500;
    position: relative;
    display: inline-block;
    @include media('>=desktop') {
        padding: 0;
    }
    &:before {
        display: none;
        opacity: 0;
        content: '';
        position: absolute;
        bottom: - rem-calc(5);
        left: 0;
        width: rem-calc(10);
        height: rem-calc(2);
        background-color: $red;
        @include media('>=desktop') {
            display: block;
        }
    }
    .active & {
        color: $red;
        &:before {
            opacity: 1;
        }
    }
    &:hover {
        color: $red;
    }
}
.cart {
    width: rem-calc(140);
    height: rem-calc(44);
    position: relative;
    display: flex;
    align-items: center;
    padding: rem-calc(10) rem-calc(16);
    transition: border-color .4s, color .4s;
    margin-left: auto;
    margin-right: 25px;
    @include media('>=desktop') {
        order: 3;
        margin-right: rem-calc(13);
    }
    &:hover {
        text-decoration: none;
        border-color: $red;
        color: $red;
        background-color: transparent;
        .count {
            background-color: $red;
        }
        .icon {
            color: $gray-500;
        }
    }
    .icon {
        font-size: rem-calc(21);
        padding-right: rem-calc(7);
        transition: color .4s;
    }
    .price{
        font-size: rem-calc(15);
        padding-top: rem-calc(2);
        font-weight: 700;
    }
    .count {
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        border: 5px solid $white;
        right: rem-calc(-18);
        width: rem-calc(32);
        height: rem-calc(32);
        background-color: $black;
        font-size: rem-calc(11);
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding-left: 1px;
        transition: background-color .4s;
    }
}
.search-block {
    display: flex;
    align-items: center;
    position: relative;
    @include media('>=desktop') {
        float: right;
        margin-top: -5px;
    }
    .opener {
        display: none;
        font-size: rem-calc(14);
        line-height: 1;
        width: rem-calc(30);
        height: rem-calc(26);
        text-decoration: none;
        color: $gray-500;
        position: relative;
        z-index: 3;
        transition: opacity $animation-speed, color $animation-speed;
        @include media('>=desktop') {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            color: $red;
        }
    }
    .close {
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem-calc(16);
        height: rem-calc(16);
        transform: translate(-50%, -50%) rotatez(0) scale(0);
        transition: transform $animation-speed ease, left $animation-speed;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: rem-calc(16);
            height: rem-calc(3);
            background-color: $gray-500;
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            transform: translateX(-50%);
            width: rem-calc(3);
            height: rem-calc(16);
            display: block;
            background-color: $gray-500;
        }
    }
    .search-form {
        display: block;
        padding-right: rem-calc(20);
        position: relative;
        padding-right: rem-calc(30);
        margin-bottom: 0;
        width: 100%;
        z-index: 2;
        transition: width $animation-speed ease $animation-speed/2, padding $animation-speed/2 ease $animation-speed/2;

        @include media('>=desktop') {
            position: absolute;
            top: 50%;
            right: rem-calc(4);
            transform: translateY(-50%);
            margin-top: 0;
            right: 11px;
            width: 0;
            overflow: hidden;
            padding-right: 0;
        }

        input[type="search"] {
            opacity: 1;
            width: 100%;
            height: auto;
            transition: padding $animation-speed/2 ease $animation-speed/2;
            border: none;
            border-bottom: 2px solid $gray-500;
            border-radius: 0;
            @include media('>=tablet') {
                padding-left: 0;
                padding-right: 0;
            }

            @include placeholder {
                color: rgba(#635e59, .35);
            }
        }

        button[type="submit"] {
            box-shadow: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            border: none;
            background-color: transparent;
            font-size: rem-calc(14);
            line-height: 1;
            width: rem-calc(30);
            height: rem-calc(26);
            padding: 0;
            color: $gray-500;
            transition: opacity step-end $animation-speed*1.5;

            @include media('>=desktop') {
                opacity: 0;
                left: 0;
                right: auto;
            }
        }

        .search-open & {
            @include media('>=desktop') {
                padding: 0 rem-calc(26) 0 rem-calc(32);
                transition: width $animation-speed, padding $animation-speed;
                width: 500px;
            }
            
            button[type="submit"] {
                opacity: 1;
                position: absolute;
                transition: opacity step-end $animation-speed;
            }

            input[type="search"] {
                padding-left: rem-calc(10);
                padding-right: rem-calc(10);
                transition: padding $animation-speed;
            }
        }
    }
    .search-open & {
        .opener {
            .icon {
                opacity: 0;
            }

            .close {
                transform: translate(-50%, -50%) rotatez(-405deg) scale(1);
                transition: transform ease $animation-speed;
            }
        }
    }
}
